*{
	margin: 0;
	font-family: Verdana ;
	line-height: 25px;
}
h1, h2
{
	color: #373737;
}
/*Header content */
.header
{
	display: flex;
	max-width: 951px;
	margin: 0 auto;
	background: linear-gradient(#222020, #626060);
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	padding: 0 15px;
	border-radius: 10px 10px 0px 0px;
	box-shadow:  -10px 10px 50px #888888;
	box-sizing: border-box;
}
.logo
{
	flex: 1 0 16%;
	order: 1;
}
.title
{
	flex: 3 3 50%;
	padding-top: 30px;
	margin-bottom: 0px;
	order: 2;
	
}
.title h1
{
	font-size: 50px;
	color: white;
	font-style: italic;
}
nav
{
	flex: 2 2 34%;
	order: 3;
}
nav ul
{
	list-style: none;
	display: flex;
	justify-content: flex-end;
	margin-top: 60px;
	margin-bottom: 0px;
}
nav ul li
{
	flex: 1 0 20%;
	padding: 10px;
}
nav ul li a 
{
	text-decoration: none;
	font-size: 15px;
	color: white;
}
nav ul li:hover
{
	background: linear-gradient(#a2a2a2, #d1d1d1);
}
/*Footer Styling */
footer
{
    display: block;
    background: linear-gradient(#d0cbcb, white);
    text-align: center;
    height: 50px;
    color: grey;
    font-size: 10px;
		clear: both;
}
/*Body Content*/
main
{
	margin: 0px auto;
	background-color: #f4f4f4;
	box-shadow:  -10px 10px 50px #888888;
	max-width: 951px;
	color: #373737;
	clear: both;
}
/* This is the main flex-box all content will
be inside*/
.main-container
{
	display: flex;
	flex-wrap: wrap;
	padding: 10px 30px;
	justify-content: center;
}

/*Start of home page styling */
#banner-image
{
	width: 100%;
	height: 20vh;
	background: url('Images/dsc00945%20copy.jpg') no-repeat;
	display:flex;
	justify-content: center;
	align-items: center;
}
#banner-image #banner-imageHeader
{
	color: #f4f4f4;
}

#left-side
{
	flex-flow: column;
	flex-basis: 75%;
	padding-right: 20px;
	box-sizing: border-box;
}
#homepage-article
{
	order: 1;
	text-align: left;
	border-bottom: 2px solid #373737;
	padding-bottom: 20px;
}
#homepage-article h1
{
	margin-bottom: 20px;
}
.video
{
	order:2; 
	flex-grow: 1;
	padding-top: 20px;
}
#homepage-shortcuts
{
	flex-basis: 25%;
	min-width: 222px;
	flex-grow: 1;
}
.shortcut-images
{
	width: 100%;
	height: 145px;
	
}
.images
{
	border: 7px solid #f4f4f4;
}
.images h2
{
	padding: 0;
	margin: 0;
}
.images:hover
{
	border:none;
	cursor: pointer;
}
#homepage-shortcuts a
{
	text-decoration: none;
}

/* Activities page. This styling applies exclusively to it */
.activities-headings
{
	padding-top: 40px;
	text-align: center;
	font-size: 25px;
	font-style: italic;
}
.activities-image
{
	flex: 1;
	margin: 15px 0;
	max-height: 285px;
}
.facts
{
	flex:1;
	padding: 15px;
	margin: 15px 0;
}
.facts ul
{
	list-style: lower-latin;
}
.text
{
	padding: 10px;
	width:100%;
	border-top: 2px solid #373737;
	clear: both;
}
.text p
{
	text-align: left;
	font-size: 15px;
}
.text p a
{
	text-decoration: none;
}
.text p a:hover
{
	cursor: pointer;
}

/*End of activities styling. Now LOCATIONS page starts */

.locations
{
	text-align: center;
	/*margin: 40px auto;*/
	padding-top: 40px;
	font-size: 40px;
}
.locations-largeImage
{
	flex: 2 0;
	order: 1;
	padding: 10px 0px 10px 10px;
}
.locations-smallImages
{
	display: inline-flex;
	flex-flow: column;
	flex-wrap: wrap;
	flex: 1 0;
	padding: 10px;
	order: 2;
}
.small-image1
{
	padding-bottom: 10px;
	order: 2;
	flex-flow: row;
}
.small-image2
{
	order: 1;
	flex-flow: row;
}
article
{
	flex: 1 0;
	order: 3;
	min-width: 150px;
	margin: 10px;
}
.maps
{
	width: 100%;
	clear: both;
	order: 4;
}


/*Contact page styling */
form
{
	width: 55%;
}
.main-container #form-header
{
	flex: 1 100%;
	text-align: center;
	margin: 20px 0;
}
#sender-info label
{
	display: block;
}
#sender-info input
{
	width: 100%;
	border: 2px solid #373737;
}
textarea
{
	width: 100%;
	height: 25vh;
	border: 2px solid #373737;
}

input[type="submit"]
{
	width: 40%;
	float: left;
	margin: 10px 10px 10px 16px;
	font-size: 25px;
	background: #373737;
	color: #f4f4f4;
	border:none;
	border-radius: 8px;
	cursor: pointer;
	font-style: italic;
}

input[type="reset"]
{
	width: 40%;
	float: right;
	margin: 10px;
	font-size: 25px;
	background: #373737;
	color: #f4f4f4;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-style: italic;
}
input[type="reset"]:hover, input[type="submit"]:hover
{
	background-color: #6a6868;
}
#column-info
{
	margin: 30px auto;
	column-count: 3;
	flex-grow: 1;
	text-align: center;
	column-rule: 3px solid #373737;
	border-top: 3px solid #373737;
	border-bottom: 3px solid #373737;
	padding: 30px;
}
